[program:avr_{{ avr['tag'] }}]
command={{ slowmonitoring['basedir'] }}/venv/bin/python scripts/avr.py
process_name=%(program_name)s
directory={{ slowmonitoring['basedir'] }}
autostart=true
autorestart=unexpected
user=root
redirect_stderr=true
stdout_logfile={{ slowmonitoring['basedir'] }}/log/avr_{{ avr['tag'] }}.log
environment = DEVICE_IPADDR="{{ avr['ip'] }}",DEVICE_PORT="{{ avr['port'] }}",DEVICE_TAG="{{ avr['tag'] }}"
