[program:telegraf_sensor5s]
command={{ slowmonitoring['basedir'] }}/telegraf/telegraf --config {{ slowmonitoring['basedir'] }}/telegraf/sensor5s.conf
process_name=%(program_name)s
directory={{ slowmonitoring['basedir'] }}
autostart=true
autorestart=unexpected
user=root
redirect_stderr=true
stdout_logfile={{ slowmonitoring['basedir'] }}/log/telegraf_sensor5s.log
environment = BASEURL="{{ slowmonitoring['basedir'] }}",INFLUX_URL="{{ db['url'] }}",INFLUX_NAME="{{ db['name'] }}",INFLUX_USER="{{ db['user'] }}",INFLUX_PASS="{{ db['pass'] }}"
