# supervisord service for systemd (CentOS 7.0+)
# by ET-CS (https://github.com/ET-CS)
[Unit]
Description=Supervisor daemon
After=network.target chronyd.service

[Service]
Type=forking
ExecStart={{ slowmonitoring['basedir'] }}/venv/bin/supervisord -c {{ slowmonitoring['basedir'] }}/supervisor/supervisor.conf
ExecStop={{ slowmonitoring['basedir'] }}/venv/bin/supervisorctl $OPTIONS shutdown
ExecReload={{ slowmonitoring['basedir'] }}/venv/bin/supervisorctl $OPTIONS reload
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
